<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<title></title>
</head>
<body>
	<section class="main">
		<img src="./img/triangle.png" class="image_triangle">
		<img src="./img/triangle.png" class="image_triangle1" style="display: none;">
		<div class="container-fluid">
			<div class="row">
				
			<div class="col-md-6 first_col full-height">
				<div class="class_logo"> <img src="./img/logo.png" class="logo">

				</div>
				<div class="center_dv">
				<div class="upload text-center">
					<img src="./img/upload-red.png" class="upload_image">
					<div class="para_text"><p>Drag or click to upload</p></div>
				</div>
			</div>
			
		<p class="text-center footer_class_para">Copyright 2019-2020.Alegralabs.com.All rights reserved</p>
	
			</div>

			<div class="col-md-6 second_col full-height text-center">

				<img src="./img/upload-blue.png" class="upload_image ">
			<div class="para_text"><p>Drag or click to upload</p></div>
			<p class="text-center footer_class_para1 " style="display: none;">Copyright 2019-2020.Alegralabs.com.All rights reserved</p>
				</div>
			</div>

			</div>

		</div>

	</section>

<!-- 	<footer class="footer_new" style="display: none;">
		
		<p class="text-center footer_class_para1">© 2019-2020 AlegraLabs.com™</p>
	</footer>
	 -->

</body>
</html>