*{

	padding: 0px;
	margin: 0px;
}
/*html {
    height: 100%!important; 
}
body {
    text-align: center;
    height: 100% !imp; 
}
*/
html, body {
  height: 100% ;
}

.full-height {
  height: 100% ;

}
.first_col{
	/*border:1px solid grey;*/
	background: #ffff;

}
.second_col{
	padding-top: 160px;
	/*border:1px solid grey;*/
	background: #35BDFB;
}
.logo{
	margin-top:10px;
	max-width:60px;
	height: auto;
}
.upload_image{
	width:205px;
	height:140px;
	vertical-align: center;
}
.class_logo{
	width: 100%;
	margin-bottom: 100px;

	/*height: auto;
   max-height: 100px;
   max-width: 100%;
   width: auto;*/
}
.main{
	height: 100%;
}
.col-md-6{

}
p{
	    color: #4d4d4d;
    font-size: 1.4rem;
    margin-top: 8px;
    text-transform: none;
   /* padding: 20px 50px;*/
    border:4px dashed grey;
}
.para_text{
	padding-top: 10px;
	padding-bottom: 85px;
	/*width: 400px;
	height: 400px;*/
}
.para_text p{
	padding-top: 100px;
	padding-bottom: 70px;
	   /* margin-left: 100px;
	    margin-right: 100px;*/
	        margin-left: 80px;
    margin-right: 80px;
}
.row{
	height: 100%;

}
.container-fluid{
	height: 100%;
}
.footer_class_para{

    position: fixed;
    bottom: 0;
    width: 40%;

	border:none;
	font-size: 15px;

margin-bottom: 0px;
margin-top: -22px;
}
.footer_class_para1{
 /*position: fixed;*/
    bottom: 0;
    width: 100%;
	border:none;
	font-size: 15px;
margin-top: -13px;
/*margin-bottom: 0px;*/

}
.image_triangle{

	/*padding-top: 50%;*/
	    position: absolute;
    left: 50%;
    z-index: 11111111;
    top: 50%;
}
.image_triangle1{
	transform: rotate(90deg);
	/*padding-top: 50%;*/
	    position: absolute;
    left: 50%;
    z-index: 11111111;
    top: 87%;
}
/*footer{
	position: fixed;
}*/

@media(max-width:767px){

	.footer_class_para1{
		display: block !important;
	}
	.footer_class_para{
		display: none;
	}
	.image_triangle{
		display: none;
	}
	.image_triangle1{
		display: block !important;
	}
	.container-fluid{
		max-height: 90%;
	}

	.row{
		max-height: 100%;
	}
	.para_text{
		padding-bottom: 40px;
	}
	.para_text p {
    padding-top: 70px;
    padding-bottom: 70px;
}

}
@media(max-width:365px){

	.class_logo {
    width: 100%;
    margin-bottom: 30px;
}
.second_col {
    padding-top: 18px;
}
.logo{
	max-width:40px;
}
.para_text p{

	padding-top: 50px;
    padding-bottom: 50px;
}
.footer_class_para1 {   
	 margin-top: 0;}
}

@media(min-width: 845px){

.para_text p{
	padding:72px;
}


}
@media(min-width: 1132px){
	.para_text{
		padding-bottom: 0px;
	}

	.para_text p{
		padding: 100px;
		    margin-left: 100px;
    margin-right: 100px;
}
@media(min-width: 1450px){


	.para_text p {
    /*padding-top: 100px;
    padding-bottom: 70px;*/
    margin-left: 235px;
    margin-right: 235px;
}
}