<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="{{ url_for('static', filename = 'img/logo.png') }}">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'fontawesome/css/all.min.css') }} ">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/upload.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style-1-admin.css') }}">

	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
	<title>PostrAPP</title>
</head>
<body style="background: #35BDFB;">
  <!-- page preloader -->
  <div class="page-preloader">
      <div class="page-preloader-blur-overlay"></div>
      <div class="lds-ellipsis">
          <div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div>
      </div>
  </div>
  <!-- end -->

	<section class="main">
		<img src="{{ url_for('static', filename = 'img/triangle.png') }}" class="image_triangle">
		<img src="{{ url_for('static', filename = 'img/triangle.png') }}" class="image_triangle1" style="display: none;">
		<div class="container-fluid">
			<div class="row">
				
			<div class="col-md-6 first_col full-height">
				<div class="class_logo"> 
          <div class="pull-left">
						<a href="http://postrapp.de/">
              <img src="{{ url_for('static', filename = 'img/logo.png') }}" class="logo">
            </a>
          </div>
          <div class="pull-right">
						<form method="POST" action="{{url_for('logout')}}">
              <button type="submit" class="btn btn-success">Log Out</button>
            </form>
          </div>
        </div>
        
        <div class="center_dv">
          <div class="upload text-center">
            <img src="{{ url_for('static', filename = 'img/upload-red.png') }} " class="upload_image">
            <!-- <div class="para_text"><p>Drag or click to upload</p></div> -->
            <!-- upload training images -->
            <div class="rows text-center col-sm-offset-2" style="min-height: 100px;">
              {% for i in range(files|count) %}
                <div class="imgContain" style="margin: 2px 0;">
                  <a href="{{url_for('uploaded_file', filename=files[i])}}" data-toggle="lightbox" data-gallery="trainImage">
                    <img src="{{url_for('uploaded_file', filename=files[i])}} " style="height: 100px; width: 100px; margin-right: 15px;" >
                  </a>
                  <!-- popover delete start -->                      
                  <div class="popover-content">
                    <div class="col-sm-12 no-pad-lf">
                      <button type="button" data-toggle="modal" data-target="#modalUp{{loop.index}}" class="btn common-btn next-btn" title="Löschen Sie das Bild" style="margin-left: 0; margin-bottom: 5px; padding: 0; color: #fff; background-color: transparent;">
                        <i class="fas fa-3x fa-trash-alt" aria-hidden="true" style="color: white;"></i>
                      </button>
                    </div>
                  </div>
                  <!-- popover delete end -->
                  <!-- delete confirm box start -->
                  <div id="modalUp{{loop.index}}" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Löschen</h4>
                              </div>
                              <div class="modal-body">
                                Dadurch wird das Bild gelöscht. <br/>
                                Bist du sicher?
                              </div>
                              <div class="modal-footer">
                                <form class="popover-contentDel" action="{{ url_for('delete') }}" method="POST" enctype="multipart/form-data">
                                  <input type="hidden" id="deleteImage" name="deleteImage" value="{{files[i]}}" />
                                  <input type="hidden" id="deleteFrom" name="deleteFrom" value="train" />
                                  <button type="submit" class="btn btn-danger" name="submit" id="delete">Löschen</button>
                                  <button type="button" data-dismiss="modal" class="btn btn-success">Stornieren</button>
                                </form>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- delete confirm box end -->
                </div>
              {% endfor %}
            </div>
            <div class="uploadSection para_text" id="uploadSection" style="float: left; width: 100%; display: none;">
                <div class="col-sm-8 no-pad-lf upload-main col-sm-offset-2">
                  <div class="form-group upload-form">
                    <input type="file" name="fileToUpload" class="form-control-fileTrain text-primary font-weight-bold" id="uploadSmall" required multiple accept="image/*" data-title="Drag & drop oder klicken zum Hochladen">
                    <input type="text" id="posterNameF" name="posterNameF" class="form-control" style="display: none;">
                    <input type="hidden" id="returnValue" name="returnValue" class="form-control" value="0" style="display: none;">
                    <input type="hidden" id="filecount" name="filecount" class="form-control" value="{{filecount}}" style="display: none;">
                    <p id="selectedText">
                      Klicken oder ziehen, hochladen max. 10 Projekte
                      {% if filecount > 0 %}
                        ({{filecount}} Projekte hinzugefügt.)
                      {% endif %}
                    </p>
                  </div>
                </div>
            </div>
          </div>
        </div>
			
		    <p class="text-center footer_class_para" style="bottom: 25px;">
			    <a href="http://postrapp.de/imprint.php" target="_blank"><u> Impressum </u></a> &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; <a href="http://postrapp.de/privacy-policy.php" target="_blank"> <u>Datenschutzhinweise </u></a>
		    </p>
		    <p class="text-center footer_class_para">
			    Copyright 2019-2020 Alegra Labs GmbH. Alle Rechte vorbehalten.
		    </p>
	
			</div>

			<div class="col-md-6 second_col full-height text-center">
        <div class="logout_button"> 
          <div class="pull-right">
            <form method="POST" action="{{url_for('logout')}}">
              <button type="submit" class="btn btn-light">Log Out</button>
            </form>
          </div>
        </div>
        <img src="{{ url_for('static', filename = 'img/upload-blue.png') }}" class="upload_image ">
        <div class="rows text-center col-sm-offset-2" style="min-height: 100px;">
          {% for i in range(filesUp|count) %}
            <div class="imgContain">
              <a href="{{url_for('uploaded_file', filename=filesUp[i])}}" data-toggle="lightbox" data-gallery="posterImage">
                <img src="{{url_for('uploaded_file', filename=filesUp[i])}} " style="height: 100px; width: 100px; margin-right: 15px;" >
              </a>
              <!-- popover delete start -->                      
              <div class="popover-content mobile_view">
                <div class="col-sm-12 no-pad-lf">
                  <button type="button" data-toggle="modal" data-target="#modalUps{{loop.index}}" class="btn common-btn next-btn" title="Löschen Sie das Bild" style="margin-left: 0; margin-bottom: 5px; padding: 0; color: #fff; background-color: transparent;">
                    <i class="fas fa-3x fa-trash-alt" aria-hidden="true" style="color: white;"></i>
                  </button>
                </div>
              </div>
              <!-- popover delete end -->
              <!-- delete confirm box start -->
              <div id="modalUps{{loop.index}}" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Löschen</h4>
                          </div>
                          <div class="modal-body">
                            Dadurch wird das Bild gelöscht. <br/>
                            Bist du sicher?
                          </div>
                          <div class="modal-footer">
                            <form class="popover-contentDel" action="{{ url_for('delete') }}" method="POST" enctype="multipart/form-data">
                              <input type="hidden" id="deleteImage" name="deleteImage" value="{{filesUp[i]}}" />
                              <input type="hidden" id="deleteFrom" name="deleteFrom" value="poster" />
                              <button type="submit" class="btn btn-danger" name="submit" id="delete">Löschen</button>
                              <button type="button" data-dismiss="modal" class="btn btn-success">Stornieren</button>
                            </form>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- delete confirm box end -->
            </div>
          {% endfor %}
        </div>
      
      <div class="uploadSection para_text" id="uploadSectionP" style="float: left; width: 100%; display: none;">  
        <div class="col-sm-8 no-pad-lf upload-main col-sm-offset-2">
          <div class="form-group upload-form" style="border: 4px dashed #FFF;">
            <input type="file" name="fileToUpload" class="form-control-fileTrainP text-primary font-weight-bold" id="uploadBig" required multiple accept="image/*" data-title="Drag & drop oder klicken zum Hochladen">
            <input type="text" id="posterNameFP" name="posterNameF" class="form-control" style="display: none;">
            <input type="hidden" id="returnValueP" name="returnValue" class="form-control" value="0" style="display: none;">
            <input type="hidden" id="filecountUp" name="filecountUp" class="form-control" value="{{filecountUp}}" style="display: none;">
            <p id="selectedTextP" style="color: #fff;">
              Klicken oder ziehen, hochladen max. 10 Fotos
              {% if filecountUp > 0 %}
                ({{filecountUp}} Fotos hinzugefügt.)
              {% endif %}
            </p>
          </div>
        </div>

        <div class="col-sm-12 no-pad-lf upload-btn-wrapper" id="btnCompute">
          <form id="computeCompare" action="{{ url_for('compare') }}" method="POST" enctype="multipart/form-data" onsubmit="pageLoad();">
            <input type="text" id="action" name="action" class="form-control" style="display: none;">
          </form>
          {% if filecountUp > 0 and filecount > 0 %}
            <div class="arrow" id="goCompare">
              <span></span>
              <span></span>
              <span></span>
            </div>
          {% endif %}
        </div>

      </div>			

			<div class="footer_div">
				<p class="text-center footer_class_para1 " style="display: none;">
					<a href="http://postrapp.de/imprint.php" target="_blank"><u> Impressum </u></a> &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; <a href="http://postrapp.de/privacy-policy.php" target="_blank"> <u> Datenschutzhinweise </u> </a>
				<br/> 
				Copyright 2019-2020 Alegra Labs GmbH. Alle Rechte vorbehalten.
			       </p></div>
				</div>
			</div>

			</div>

		</div>

  </section>
  
      <!-- Modal -->
      <div class="modal fade" id="imageModal" role="dialog">
        <div class="modal-dialog">    
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <!-- <h4 class="modal-title">Modal Header</h4> -->
            </div>
            <div class="modal-body">
                <h5 id="dispTrainMsg" style="font-weight: bold; color: #5cb85c; display: none;">Bilder hochladen und trainieren</h5>
              
              <div class="img-gallery-box">
                <ul id="imgUploadTrain">
                  
                </ul>
              </div>
    
              <button class="btn btn-info btn-full" type="button" id="finalSubmit">
                  HOCHLADEN
              </button>
              
            </div>
           
          </div>
          
        </div>
      </div>

      <div class="modal fade" id="imageModalP" role="dialog">
        <div class="modal-dialog">    
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <!-- <h4 class="modal-title">Modal Header</h4> -->
            </div>
            <div class="modal-body">
                <h5 id="dispTrainMsgP" style="font-weight: bold; color: #5cb85c; display: none;">Poster hochladen</h5>
              
              <div class="img-gallery-box">
                <ul id="imgUploadTrainP">
                  
                </ul>
              </div>
    
              <button class="btn btn-info btn-full" type="button" id="finalSubmitP">
                  HOCHLADEN
              </button>
              
            </div>
           
          </div>
          
        </div>
      </div>

      <!-- View flash Modal Start -->
  <div id="flashMsgModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Information</h4>
            </div>
            <div class="modal-body">
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <ul class=flashes>
                    {% for message in messages %}
                      {% if 'success:' in message %}
                        <li style="color: #5cb85c;">{{ message.replace("success:", "") }}</li>
                      {% else %}
                        <li style="color: #F00;">{{ message }}</li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                {% endif %}
              {% endwith %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
            </div>
        </div>  
    </div>
</div>
<!-- View flash Modal End -->

<!-- View upload Modal Start -->
<div id="uploadMsgModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Information</h4>
            </div>
            <div class="modal-body">
                <ul class=flashes>
                    
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
            </div>
        </div>  
    </div>
</div>
<!-- View upload Modal End -->

		
		<footer class="footer_new" style="display: none;">
			<p class="text-center footer_class_para1"><a href="http://postrapp.de/imprint.php" target="_blank"><u> Impressum </u></a> &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; <a href="http://postrapp.de/privacy-policy.php" target="_blank"> <u> Datenschutzhinweise </u> </a>
			<br/> Copyright 2019-2020 Alegra Labs GmbH. Alle Rechte vorbehalten.</p>
		</footer>
	

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
    <script type="text/javascript">
      function pageLoad() {
          $(".page-preloader").show();
          // setTimeout(function(){ 
          //   $(".page-preloader").hide();
          // }, 3000);
        }

      $(document).ready(function() {
        // light box
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox({
              alwaysShowClose: true
            });
        });

        $(".upload-content").on('click', '#browse-btn', function(){
          //  $(".upload-content #upload-image").click();
           $(".upload-content #uploadSmall").click();
        });

        $("#imageModal").on('click', '#finalSubmit', function() {
          // $(".page-preloader").show();
          // setTimeout(function(){ 
          //   $(".page-preloader").hide();
          // }, 3000);

          var input = document.getElementById('uploadSmall');
          $("#uploadMsgModal ul.flashes").empty();
          
          for (var i=0; i<input.files.length; i++)
          {
            $('#uploadSection #upload-formTrain'+i+' #posterNameF'+i).val($("#imageModal #posterName"+i).val());
            $('#imgUploadTrain #displayAnim'+i+' #faTrain'+i).show();
            $('#imgUploadTrain #displayAnim'+i+' #imageToBeUpload'+i).css('opacity','0.6');

            var formDataRaw = $('#upload-formTrain'+i)[0];
            var form_data = new FormData(formDataRaw);
            
            form_data.append('fileToUpload', input.files[i]);
            
            sendAjaxs(form_data, i, input.files.length);
          }
          $('#dispTrainMsg').show();
        });

        function sendAjaxs(form_data, i, fileLength)
        {
          $.ajax({
            url: "{{url_for('upload')}}",
            type: "POST",
            // data: { fileToUpload:form_data, posterNameF:$("#imageModal #posterName"+i).val() },
            //dataType: "json",
            data: form_data,
            processData: false,  // tell jQuery not to process the data
            contentType: false,   // tell jQuery not to set contentType
            cache: false,
            // async: false,
            success: function(result) {
                var returnValue = parseInt($('#returnValue').val());
                returnValue++;
                $('#returnValue').val(returnValue);

                if(result.includes("success:")) {
                  $("#uploadMsgModal ul.flashes").append('<li style="color: #5cb85c;">'+ result.replace("success:", "") +'</li>');
                }
                else if(result.includes("error:")) {
                  $("#uploadMsgModal ul.flashes").append('<li style="color: #F00;">'+ result.replace("error:", "") +'</li>');
                }
                else {
                  $("#uploadMsgModal ul.flashes").append('<li style="color: #F00;">'+result+'</li>');
                }

                if(! result.includes("error:")) {
                  $('#imgUploadTrain #displayAnim'+i+' #faTrain'+i).hide();
                  $('#imgUploadTrain #displayAnim'+i+' #faDone'+i).show();
                }

                if(returnValue == fileLength)
                {
                  $("#uploadMsgModal").modal();

                  setTimeout(function(){ 
                    window.location.reload();
                    
                  }, 3500);
                }
            },
            error: function (e,a,b) {
              alert('Error in Upload. Please retry');
              setTimeout(function() { 
                window.location.reload();
                
              }, 3000);
            }
          });
        }

        $(".upload-content").on('change', '#upload-image', function(e){
            var image = e.target.files[0];
            console.log(image)
            processImage(image, 0);
            // alert('Dragged File name is '+image.name);
        });

        // Drag and drop start
        $(".upload-content").on('dragover','.drag-drop-area', function (e){
          e.preventDefault();
        });

       $(".upload-content").on('drop', '.drag-drop-area', function (e){
        // $(this).css('background', '#D8F9D3');
        e.preventDefault();
        var image = e.originalEvent.dataTransfer.files[0];
        processImage(image, 0);
        // alert('Dragged File name is '+image.name);
       });

       // drag and drop end

      function processImage(image, i)
        {
          if (image) 
          {
            var fileType = image["type"];
            var validImageTypes = ["image/gif", "image/jpeg", "image/png", "image/jpg"];
            if ($.inArray(fileType, validImageTypes) > 0)
            {

              var reader = new FileReader();
              reader.onload = function(e) 
              {
                  var listImages = '<li class="image-checkbox" id="displayAnim'+i+'">'+
                    '<div class="uploadWrapper">'+
                      '<label class="custom-checkbox">'+
                        '<i class="fa-3x fas fa-spinner fa-pulse" id="faTrain'+i+'" style="display:none;"></i>'+
                        '<i class="fa fa-3x fa-check" id="faDone'+i+'" style="display:none;"></i>'+
                      '</label>'+
                    '</div>'+
                    '<img src="'+e.target.result+'" id="imageToBeUpload'+i+'" />'+
                  '</li>';

                  $('#imageModal #imgUploadTrain').append(listImages);
              }
              reader.readAsDataURL(image);
            }
            else
            {
              alert('Ungültiger Dateityp. Bitte laden Sie ein gültiges Bild hoch.');
            }
            
          }
          // alert('Dragged File name is '+image.name);
        }

        var messages = "{{ get_flashed_messages() }}";

        if (typeof messages != 'undefined' && messages != '[]') {
            $("#flashMsgModal").modal();
        };

        var fileSelected = 1;
        $('input.form-control-fileTrain').change(function(){
          var files = $(this)[0].files;
          console.log(files);
          fileSelected = files.length;
          var fileMsg = files.length + " Bild (er) ausgewählt";
          this.setAttribute("data-title", fileMsg);
          
          var input = document.getElementById('uploadSmall');
          $('#imageModal #imgUploadTrain').empty();
          var filecount = parseInt($('#filecount').val());
          var totalFileCount = filecount + parseInt(input.files.length);
          console.log(totalFileCount);
          if(totalFileCount > 10)
          {
            alert('Das maximale Upload-Limit beträgt 10');
            window.location.reload();
          }
          if(input.files.length < 11 ) {
            // // remove previous upload images
            // $.post("/clearTrain",
            // {
            //   action:'clearTrain'
            // },
            // function(jsondata, status) {
            //   //console.log(jsondata);
            //     if(jsondata == 'done')
            //     {
            //       // window.location.reload();
            //     }
            // });

            for (var i=0; i<input.files.length; i++)
            {
                var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase();
                if (!((ext == 'jpg') || (ext == 'png') || (ext == 'jpeg') || (ext == 'gif') || (ext == 'bmp') ))
                {
                    alert("Dateien werden NICHT unterstützt")
                    document.getElementById("uploadSmall").value ="";
                }
                else {
                  var forms = '<form id="upload-formTrain'+i+'" action="#" method="POST" enctype="multipart/form-data">'+
                                '<input type="text" id="posterNameF'+i+'" name="posterNameF" class="form-control" style="display: none;">'+
                              '</form>';
                  $('#uploadSection').append(forms)
                  processImage(files[i], i);
                }
            }
            $('#imageModal').modal({
                show: true,
                backdrop: 'static'
            });
          }
          else {
            alert('Bitte wählen Sie Max 10 Fotos');
          }
        });

        // Poster Section
        $("#imageModalP").on('click', '#finalSubmitP', function() {
          // $(".page-preloader").show();
          // setTimeout(function(){ 
          //   $(".page-preloader").hide();
          // }, 3000);

          var input = document.getElementById('uploadBig');
          $("#uploadMsgModal ul.flashes").empty();
          
          for (var i=0; i<input.files.length; i++)
          {
            $('#uploadSectionP #upload-formTrainP'+i+' #posterNameFP'+i).val($("#imageModalP #posterName"+i).val());
            $('#imgUploadTrainP #displayAnim'+i+' #faTrain'+i).show();
            $('#imgUploadTrainP #displayAnim'+i+' #imageToBeUpload'+i).css('opacity','0.6');

            var formDataRaw = $('#upload-formTrainP'+i)[0];
            var form_data = new FormData(formDataRaw);
            
            form_data.append('fileToUpload', input.files[i]);
            
            sendAjaxsP(form_data, i, input.files.length);
          }
          $('#dispTrainMsgP').show();
        });

        function sendAjaxsP(form_data, i, fileLength)
        {
          $.ajax({
            url: "{{url_for('uploaded')}}",
            type: "POST",
            // data: { fileToUpload:form_data, posterNameF:$("#imageModal #posterName"+i).val() },
            //dataType: "json",
            data: form_data,
            processData: false,  // tell jQuery not to process the data
            contentType: false,   // tell jQuery not to set contentType
            cache: false,
            // async: false,
            success: function(result) {
                var returnValue = parseInt($('#returnValueP').val());
                returnValue++;
                $('#returnValueP').val(returnValue);

                if(result.includes("success:")) {
                  $("#uploadMsgModal ul.flashes").append('<li style="color: #5cb85c;">'+ result.replace("success:", "") +'</li>');
                }
                else if(result.includes("error:")) {
                  $("#uploadMsgModal ul.flashes").append('<li style="color: #F00;">'+ result.replace("error:", "") +'</li>');
                }
                else {
                  $("#uploadMsgModal ul.flashes").append('<li style="color: #F00;">'+result+'</li>');
                }

                if(! result.includes("error:")) {
                  $('#imgUploadTrain #displayAnim'+i+' #faTrain'+i).hide();
                  $('#imgUploadTrain #displayAnim'+i+' #faDone'+i).show();
                }

                if(returnValue == fileLength)
                {
                  $("#uploadMsgModal").modal();

                  setTimeout(function(){ 
                    window.location.reload();
                    
                  }, 3500);
                }
            },
            error: function (e,a,b) {
              alert('Error in Upload. Please retry');
              setTimeout(function() { 
                window.location.reload();
                
              }, 3000);
            }
          });
        }

        // Drag and drop start
        $(".upload-content").on('dragover','.drag-drop-areaP', function (e){
          e.preventDefault();
        });

       $(".upload-content").on('drop', '.drag-drop-areaP', function (e){
        // $(this).css('background', '#D8F9D3');
        e.preventDefault();
        var image = e.originalEvent.dataTransfer.files[0];
        processImageP(image, 0);
        // alert('Dragged File name is '+image.name);
       });

       // drag and drop end

      function processImageP(image, i)
        {
          if (image) 
          {
            var fileType = image["type"];
            var validImageTypes = ["image/gif", "image/jpeg", "image/png", "image/jpg"];
            if ($.inArray(fileType, validImageTypes) > 0)
            {

              var reader = new FileReader();
              reader.onload = function(e) 
              {
                  var listImages = '<li class="image-checkbox" id="displayAnim'+i+'">'+
                    '<div class="uploadWrapper">'+
                      '<label class="custom-checkbox">'+
                        '<i class="fa-3x fas fa-spinner fa-pulse" id="faTrain'+i+'" style="display:none;"></i>'+
                        '<i class="fa fa-3x fa-check" id="faDone'+i+'" style="display:none;"></i>'+
                      '</label>'+
                    '</div>'+
                    '<img src="'+e.target.result+'" id="imageToBeUpload'+i+'" />'+
                  '</li>';

                  $('#imageModalP #imgUploadTrainP').append(listImages);
              }
              reader.readAsDataURL(image);
            }
            else
            {
              alert('Ungültiger Dateityp. Bitte laden Sie ein gültiges Bild hoch.');
            }
            
          }
          // alert('Dragged File name is '+image.name);
        }

        var fileSelected = 1;
        $('input.form-control-fileTrainP').change(function(){
          var files = $(this)[0].files;
          console.log(files);
          fileSelected = files.length;
          var fileMsg = files.length + " Bild (er) ausgewählt";
          this.setAttribute("data-title", fileMsg);
          
          var input = document.getElementById('uploadBig');
          $('#imageModalP #imgUploadTrainP').empty();
          var filecountP = parseInt($('#filecountUp').val());
          var totalFileCountP = filecountP + parseInt(input.files.length);
          console.log(totalFileCountP);
          if(totalFileCountP > 10)
          {
            alert('Das maximale Upload-Limit beträgt 10');
            window.location.reload();
          }

          if(input.files.length < 11 ) {
            // // remove previous upload images
            // $.post("/clearPoster",
            // {
            //   action:'clearPoster'
            // },
            // function(jsondata, status) {
            //   //console.log(jsondata);
            //     if(jsondata == 'done')
            //     {
            //       // window.location.reload();
            //     }
            // });

            for (var i=0; i<input.files.length; i++)
            {
                var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase();
                if (!((ext == 'jpg') || (ext == 'png') || (ext == 'jpeg') || (ext == 'gif') || (ext == 'bmp') ))
                {
                    alert("Dateien werden NICHT unterstützt.")
                    document.getElementById("uploadBig").value ="";
                }
                else {
                  var forms = '<form id="upload-formTrainP'+i+'" action="#" method="POST" enctype="multipart/form-data">'+
                                '<input type="text" id="posterNameFP'+i+'" name="posterNameF" class="form-control" style="display: none;">'+
                              '</form>';
                  $('#uploadSectionP').append(forms)
                  processImageP(files[i], i);
                }
            }
            $('#imageModalP').modal({
                show: true,
                backdrop: 'static'
            });
          }
          else {
            alert('Bitte wählen Sie Max 10 Fotos.');
          }
        });

        // compare
        $('#btnCompute').on('click', '#goCompare', function(e) {
          $('#computeCompare').submit();
        });
    });
    </script>
    
    <script type="text/javascript">

      // var fileSelected = 1;
      // $('input.form-control-fileTrain').change(function(){
      //   var files = $(this)[0].files;
      //   fileSelected = files.length;
      //   var fileMsg = files.length + " image(s) selected";
      //   this.setAttribute("data-title", fileMsg);
      //   $('.upload-form p#selectedText').text(fileMsg);
      //   //$('#upload-formTrain').submit();
      //   $('#btnSubmitTrain').show();
      //   $('#btnSubmitTrainDis').hide();
      // });

      // $('input.form-control-file').change(function(){
      //   var files = $(this)[0].files;
      //   fileSelected = files.length;
      //   var fileMsg = files.length + " image(s) selected";
      //   this.setAttribute("data-title", fileMsg);
      //   $('.upload-form p#selectedTextUp').text(fileMsg);
      //   //$('#uploadCheckBig').submit();
      //   $('#btnSubmitUp').show();
      //   $('#btnSubmitUpDis').hide();
      // });

    </script>

</body>
</html>
